html, body{
    height: 100%;
    margin: 0;
}

#tracking-cursor{
    text-align:center; 
    height:1000px; 
    background-color:#ccc;
    /* position: absolute; */
}

#svg-circle{
    /* z-index: 9; */
}